doctype html
html
	head
		title Galaxies
		link(rel='stylesheet', type='text/css', href='./css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='./css/style.css')
	body.galaxy
		a(href='/solarmap') The Solar System
