doctype html
html
	head
		title placeholder
		link(rel='stylesheet', type='text/css', href='./css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='./css/style.css')
	body.solar
		a(href='/mars') Travel to Mars
		a(href='/mercury') Travel to Mercury
		a(href='/jupiter') Travel to Jupiter
		a(href='/venus') Travel to Venus
		a(href='/neptune') Travel to Neptune
		a(href='/uranus') Travel to Uranus
		a(href='/saturn') Travel to Saturn
		a(href='/earth') Travel from Earth
		
