doctype html
html
	head
		title placeholder
		link(rel='stylesheet', type='text/css', href='./css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='./css/style.css')
	body.solar
		a(href='/mars') Travel to Mars
